.top 
{
width:100%;
background-color:#2D6162;


text-align:center;
}
.head
{
font-size:35px;
font-family:Georgia, serif;
font-weight:bold;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	margin:0;
}
.cards
{
background-color:#84ACAD;
width: 30%;
text-align:center;
display: inline-block;
margin: 2% 2%;
padding: 0.5% 2%;
}
.cards a
{
text-decoration:none;
font-weight:bold;
color:black;
font:Arial;
font-size:17;
}
.error
{
	 color: red;
}
.welcome
{
display: inline-block;
font-weight:bold;
color:#2D6162;
font:Arial;
font-size:17;
position: relative;
vertical-align:top;


}
.new_users
{
display: inline-block;
vertical-align: top;
}
#top
{
	text-align:left;
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
#options
{
display: inline-block;
width: 20%;
	
}
.image
{
display: block;
font-weight:bold;
color:#2D6162;
font:Arial;
font-size:17;
border: 5px solid green;
position:absolute;
left:88%;
vertical-align:top;
width:10%;
height: 20%;
text-align:right;
margin:0;
}
.footer
{
margin: 0%;
background-color: #2D6162;
width: 100%;
height: 5%;
text-align: center;
vertical-align: middle;
color: white;

}

#availability_status {
	font-size:11px;
	margin-left:10px;
}
.content
{
margin: 1% 2% 2% 1%;
}
.test
{
	width: 100%;

    border-radius: 0px;

   text-align:center;
   font-size:30pt;
    font-weight:bold;
}
.user
{
display: block;
position: relative;
vertical-align:top;
 background-color: #D7D7D7;
margin: 1%;
text-align:center;
    border-radius: 5px;
    font-size:15pt;
    font-weight: bold;
   
}
.ruser
{
display: block;
position: relative;
vertical-align:top;
 background-color: #D7D7D7;
margin: 1%;
text-align:center;
    border-radius: 5px;
    font-size:15pt;
    font-weight: bold;
   
}
.user-content
{

text-align:left;
background-color: #D7D7D7;
   
}
.attempt
{
display: inline-block;
position: relative;
vertical-align:top;
 background-color: #8CCADA;

margin: 1%;
    border-radius: 5px;
    font-size:15pt;

}
.analysis
{
text-align:center;

}
.message
{
font-size:15pt;
color: red;
text-align:center;
width:100%;
 background-color: #D7D7D7;
}
#login
{
font-size:20pt;
color:green;
text-align:left;
}
.greenmessage
{

color: green;
}
#button
{
	cursor: pointer;
 text-align: center;
  display: block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
  width: 20%;
	
	background-color: #8CCADA;
}
#button:hover,
.btn:focus {
  background: #B0B7E2;
}

#button:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

#button a
{
text-decoration: none;
color: black;
font: 25pt
font-size: 15pt;
font-weight: bold;
}
.title
{
	font-weight:bold;
	font-size: 15pt;
	color: #0C123D;
}
.ongoing-exam
{
	text-align:left;
	display: block;
	background:#2B8B65;
	vertical-align: top;
	padding: 3%;
	text-align:center;
	width: 60%;
	margin: 2% 20% 2% 20%;
}
.upcoming-exam
{
	text-align:left;
	display:block;
	vertical-align: top;
	background: #935096;
	padding: 3%;
	text-align:center;
	width: 60%;
	margin: 2% 20% 2% 20%;
}
.past-exam
{
	text-align:left;
	display: block;
	vertical-align: top;
	background: #368D8A;
	padding: 3%;
	text-align:center;
	width: 60%;
	margin: 2% 20% 2% 20%;
}
.exam-element
{
	border: 1px solid #555;
	margin-bottom: 10px;
	background: #DEE3E4;
	width: auto;
	padding: 0.5% 2%;
	margin: 1%;

}
.exam
{
	text-align: center;
	width: auto;
	padding: 0.5% 2%;
	margin: 1%;

}
#exams
{
width: 20%;
display: inline-block;
vertical-align: top;

}
.modify
{
	background: #7F7F7F;
	text-align: left;
	width: 45%;
	vertical-align:middle;
	display: inline-block;
	padding: 0.25% 0.25% 0.25% 0.5%;
	font-size: 10pt;
}
.modquestion
{
background-color: #7E8892;
border: 0;
color: #0F0F0F;
cursor: pointer;
font-size: 12pt;
padding: 0.5%;
}
#changes
{
	text-align: left;
	width: 45%;
	vertical-align:middle;
	display: inline-block;
}
#participants
{
width:20%;
vertical-align:top;
display: inline-block;
background-color: grey;
}
#testdetails
{
width:79%;
vertical-align:top;
display: inline-block;
background-color: white;
}
.question
{
background: #C5D9C3;

}
.option1
{
background:#59AFBB;
}
.option2
{
background:#429E97;
}
.option3
{
background:#2B8670;
}
.option4
{
background:#305E74;
}
.option5
{
background:#79469B;
}
.correct
{
background:#3A854D;
}
.center
{
text-align:center;
}
.same
{
display:inline-block;
font-size: 9pt;
}
input { font-size: 100%; cursor: pointer;}
.duration
{

}
.changed
{
	text-align: left;
	width: 45%;
	vertical-align:middle;
	display: inline-block;
}
#wrapper
{
	display: inline-block;
	width: 100%;
}
#unregisterd
{
	display: inline-block;
	text-align: center;
	width:49%;
}
#registerd
{
	display: inline-block;
	text-align: center;
	width:49%;
}
#sign-up
{
	display: inline-block;
	onfocus-color:
}
#sign-up a
{
text-decoration:none;
font-weight:bold;
}
#sign-in
{
	display: inline-block;
	
}
#sign-in:hover a
{
color: blue;
}
#sign-up:hover a
{
color: blue;
}
#sign-in a
{
text-decoration:none;
font-weight:bold;
}
#deluser
{
	cursor:pointer;
}
.addquestion
{
	background: #7F7F7F;
	text-align: center;
	width: 100%;
	
}
.displayquestion
{
	text-align: center;
	width:100%;
}
.displayquestion1
{
text-align: center;
width: auto;
}
.admin
{
	text-align: center;
}
.displayoption
{
text-align: left;
width: auto;
}
.displayoption
{
display: inline-block;
text-align: left;
}
.direction
{
text-align:left;
width:auto;
display:inline-block;
}
